/**
 * Colors
==================== */
/// List of Colors

$colors: (
    main-black: #222,
    article-black: #1a1a1c,
    bg-gray: #f8f8f8,
    bg-gray-2: #f0f0f0,
    main-white: #fff,
    bg-black: #4b4b4b,
    breadcrumb-gray: #767676,
    tag-gray: #5e5e5e,
    border-gray: #919191,
    bd-red: #ff3549,
    bd-gray: #767676,
    check-blue: #3babd7,
    link-blue: #0017c1,
    error-red: #bb150c,
    policy-black: #3e3e3e,
    disable-gray: #aeaeae,
    hover-btn: #e1e1e1,
) !default;

/**
 * Breakpoints
 ==================== */
/// List of Breakpoints
$breakpoints: (
    tny: 561,
    sm: 768,
    md: 1020,
    lg: 1400,
) !default;

/**
 * Design Sizes
==================== */
/// List of Design sizes
$design-sizes: (
    sp: 390,
    tb: 920,
    pc: 1440,
    mn: 1920,
) !default;

/**
 * Spacing Units
==================== */
/// List of Spacing Units

$spacing-units: (
    xs: 8,
    sm: 16,
    md: 32,
    lg: 64,
    xl: 128,
    xxl: 256,
) !default;

/**
 * Font sizes
==================== */
/// List of Font Sizes
$font-sizes: (
    "sm": em(12),
    "md": 1em,
    "lg": em(24),
) !default;

/**
 * Font Families
==================== */
/// List of Font Families

$font-families: (
    "default": sans-serif,
    "en": sans-serif,
    "ja": sans-serif,
) !default;
